h1{
    color: Black;
    position: center;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 50px;
}

h2{
    font-family: 'Italianno', cursive;
}

img{
    background-size: 150px;
    width: 300px;
    height: 300px;
    border: 2px solid;
    color: black;
}
p{
    border-color: whitesmoke;

}

body{
    background: linear-gradient(green, white, red);

}
